
<template>
    <div class="container my-3">
      <h2 class="text-center mb-4" >Book Table</h2>
      <DataTable items="null"/>
    </div>
</template>
<script setup>


import DataTable from "@/components/BookTable.vue";
</script>


<style lang="scss" scoped></style>